body {
    background-color: #2bbed3;
    color: white;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;
}

h1 {
    font-size: 600%;
    text-align: center;
}

.center {
    margin: 0 auto;
}

.column {
    float: left;
    width: 33.3%;
}

.circle {
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    margin: 10px 10px;
    text-align: center;
    width: 80px;
}

.circle:hover {
    background-color: white;
    color: #2bbed3;
}

.invisible {
    cursor: default;
    opacity: 0;
}

.invisible-dot {
    background-color: #2bbed3;
    border-radius: 100%;
    height: 40px;
    margin: 5% auto;
    width: 40px;
}

.invisible-rectangle {
    height: 50px;
    margin: auto;
    width: 100px;
}

.item {
    background-color: transparent;
    border: 1px solid white;
    height: auto;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

.line {
    display: flex;
}

.user-input {
    font-size: 200%;
}

.table:after {
    clear: both;
    content: "";
    display: table;
}

.submit {
    border: 1px solid white;
    border-radius: 100px;
    display: inline-block;
    height: 75px;
    line-height: 75px;
    margin: 50px;
    text-align: center;
    width: 300px;
}

.submit:hover {
    background-color: white;
    color: #2bbed3;
}

.white-dot {
    background-color: white;
    border-radius: 100%;
    height: 40px;
    margin: 10% auto;
    width: 40px;
}

.white-rectangle {
    background-color: white;
    height: 50px;
    margin: auto;
    width: 100px;
}